{
  "singleQuote": true,
  "bracketSpacing": false,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.{variables,overrides}",
      "options": {
        "parser": "less"
      }
    }
  ]
}
