@import 'styles/resources';

.navigation-item {
  @include fontAvenir;
  display: block;
  box-sizing: border-box;
  padding: 8px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  line-height: 40px;
  width: 10%;
  margin: 0 auto;
  text-align: center;

  a {
    text-decoration: none;
    color: $isabelineGreen;
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.1rem;
    border-radius: 2px;
    bottom: 0;
    left: 0;
    background-color: $weldonBlue;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  &:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  &.active {
    a {
      font-weight: $boldFontWeight;
    }
  }

  &:hover {
    cursor: pointer;
  }

  @media (max-width: $computerBreakpoint) {
    font-size: 16px;
  }
}
