@import '../../../../styles/resources';

.navigation-item {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 16px;

  &:first-child {
    padding-left: 0;
  }

  a {
    text-decoration: none;
    color: $gray;

    &:hover {
      color: $black;
    }
  }

  &.active {
    a {
      color: $green;
    }
  }
}
