@import '../../../../styles/resources';

.navigation-item {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 16px;

  &:first-child {
    padding-left: 0;
  }

  a {
    text-decoration: none;
    color: $black;

    &:hover {
      //color: $black;
      color: $gray;
    }
  }

  &.active {
    a {
      color: $green;
    }
  }

  &.bordered {
    border: 2px solid $black;
    border-radius: 3px;

    &:hover {
      background: $black;

      a {
        color: $white;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}
