@import '../../../styles/resources';

.app-navigation {
  box-sizing: border-box;
  display: flex;
  color: $black;
  font-size: $desktopFontSize;
  font-weight: $normalFontWeight;
  line-height: 24px;
  padding: 16px;
  flex-direction: row;
  flex-wrap: wrap;

  &__list {
    list-style-type: none;
    width: 100%;
    text-align: right;
    margin: 0;
  }

  @media (max-width: $computerBreakpoint) {
    font-size: $mobileFontSize;

    &__list {
      text-align: center;
    }
  }
}
