@import '../../../styles/resources';

.app-navigation {
  box-sizing: border-box;
  display: flex;
  margin-top: 40px;
  color: $black;
  font-size: $normalFontSize;
  font-weight: $normalFontWeight;
  line-height: 24px;
  padding: 16px;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid $light-gray;

  &__list {
    list-style-type: none;
    width: 100%;
    text-align: right;
    margin: 0;
  }
}
