@import 'styles/resources';

.home-grid-wrapper {
  box-sizing: border-box;
}

.home-grid {
  padding: 20px;
  margin-top: 8%;
  border-top: 1px solid $bottleGreen;
  border-bottom: 1px solid $bottleGreen;

  &__row {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    margin: 104px 48px;
  }
}
