@import 'styles/resources';

.error-page {
  &__title {
    font-size: 112px;
    color: $black;
    @include fontRoboto;
    margin: 10% 0 10% 24px;

    &::selection {
      color: $white;
      background: $black;
    }
  }

  &__redirect {
    cursor: pointer;
    display: block;
    margin: 48px 0 0 24px;
    @include fontRoboto;
    font-size: 24px;
    line-height: 32px;
    color: $black;

    &:hover {
      color: $gray;
    }
  }

  @media only screen and (max-width: $tabletBreakpoint) {
    &__title,
    &__redirect {
      text-align: center;
      margin: 10% 0 64px 0;
    }
  }
}
