// Colors
$black: #202121 !default;
$white: #ffffff !default;
$light-gray: #e4e4e4 !default;
$gray: #64686a !default;
$red: #ff2828 !default;
$green: #49c5b6 !default;

// Fonts
$desktopFontSize: 16px; // todo: split between text and headers
$mobileFontSize: 14px;

$normalFontWeight: 400;
$lightFontWeight: 300;
$boldFontWeight: 600;

// Site
$siteBackground: #f4f7f6 !default;

// Breakpoints
$mobileBreakpoint            : 320px;
$tabletBreakpoint            : 768px;
$computerBreakpoint          : 992px;
$largeMonitorBreakpoint      : 1200px;
$widescreenMonitorBreakpoint : 1920px;