// Colors
$black: #202121 !default;
$white: #ffffff !default;
$light-gray: #e4e4e4 !default;
$gray: #64686a !default;
$red: #ff2828 !default;
$green: #49c5b6 !default;
$darkJungle: #1c2321 !default;
$weldonBlue: #7d98a1 !default;
$cadetGrey: #5e6572 !default;
$isabelineGreen: #eef1ef !default;
$wildBlueYonder: #a9b4c2 !default;
$bottleGreen: #0b6e4f !default;
$pantoneGreen: #08a045 !default;

// Fonts
$desktopFontSize: 16px; // todo: split between text and headers
$mobileFontSize: 14px;

$normalFontWeight: 400;
$lightFontWeight: 300;
$boldFontWeight: 600;

// Spacing - TODO: set  a standard throughout the app

// Site
$siteBackground: $isabelineGreen !default;
$contentMaxWidth: 1200px;

// Breakpoints
$mobileBreakpoint: 320px;
$tabletBreakpoint: 768px;
$computerBreakpoint: 992px;
$largeMonitorBreakpoint: 1200px;
$widescreenMonitorBreakpoint: 1920px;
