// Colors
$black: #202121 !default;
$white: #ffffff !default;
$light-gray: #e4e4e4 !default;
$gray: #64686a !default;
$red: #f44336 !default;
$green: #49c5b6 !default;

// Fonts
$normalFontSize: 16px;
$normalFontWeight: 400;
$lightFontWeight: 300;

// Site
$max-width: 1200px;
