@mixin fontRoboto {
  font-family: 'Roboto', sans-serif;
}

@mixin fontProzaLibre {
  font-family: 'Proza Libre', sans-serif;
}

@mixin fontRobotoMono {
  font-family: "Roboto Mono", sans-serif;
}

@mixin fontMontserrat {
  font-family: "Montserrat", sans-serif;
}
