@mixin fontRoboto {
  font-family: 'Roboto', sans-serif;
}

@mixin fontProzaLibre {
  font-family: 'Proza Libre', sans-serif;
}

@mixin fontAvenir {
  font-family: "Avenir Next", "Avenir", sans-serif; // todo: set this up
}